* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
    scroll-margin: 55px;
    cursor: none;
}

*::selection {
    background-color: #fff;
    color: #000;
}

::-webkit-scrollbar{
    width: 10px;
    z-index: 68;
}

::-webkit-scrollbar-track{
    background-color: transparent;
    z-index: 69;
}

::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 50px;
    border: 20px solid #fff;
    z-index: 70;
}

html{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    background-color: #dadada;
    width: 1400px;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#main {
    width: 100%;
    height: auto;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7vh 0 0 0;
    flex-direction: column;
    z-index: 90;
    scroll-behavior: smooth;
}

.main2{
    background-color: transparent;
    width: 1294px;
    z-index: 3;
    overflow: hidden;
}

header {
    width: 100%;
    height: 7vh;
    background-color: #787878;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    z-index: 95;
    position: fixed;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>.logo {
    background-color: none;
    width: 95px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.logo>h2 {
    font-weight: 600;
    font-size: 2.3vw;
    color: #000;

}

.logo>h2::selection {
    background-color: #000;
    color: #fff;
}

.main-links {
    /* background-color: red; */
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 70%;
    align-items: center;
    justify-content: center;
}

.main-links>ul {
    display: flex;
    flex-direction: row;
    gap: 35px;
    list-style-type: none;
}

.main-links>ul>li {
    padding: 4px 12px;
    border-radius: 50px;
    transition: all 0.8s;
    color: #000;
    font-size: 1.3em;
    border: 1px solid transparent;
}

.main-links>ul>li::selection,
#li-links>a::selection {
    background-color: #000;
    color: #fff;
}

.main-links>ul>li:hover {
    background-color: #fff;
    transition: all 0.8s;
    color: #000;
    border: 1px solid #000;
    border-radius: 20px 0px 20px 0px;
}

.main-links>ul>li:active {
    border-radius: 0px 20px 0px 20px;
}

.reponcive-menu {
    display: none;
}

.main-buttons {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75%;
}

.main-buttons>button {
    padding: 6px 22px;
    border: 1px solid #fff;
    transition: all 0.8s;
    border-radius: 50px;
}

.main-buttons>button::selection {
    background-color: #000;
    color: #fff;
}

.main-buttons>button:hover {
    background-color: #fff;
    transition: all 0.8s;
    border-radius: 15px 0px 15px 0px;
    border: 1px solid #000;
}

.main-buttons>button:active {
    border-radius: 0px 15px 0px 15px;
    border: 1px solid #000;
}

#li-links>a {
    text-decoration: none;
    color: #000;
}

.page1 {
    width: 100vw;
    height: 93%;
    position: relative;
    overflow: hidden;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.page1-box1 {
    width: 90%;
    height: 90%;
    /* background-color: red; */
    display: flex;
    padding: 12px 0 0 15px;
    border-radius: 70px 0 70px 0;
    overflow: hidden;
}

.box1-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
    z-index: 4;
}

.box1-right {
    width: 50%;
    height: 100%;
    /* background-color: #9e91be; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    overflow: hidden;
}

.box1-right>img {
    width: 90%;
    opacity: 100%;
    scale: 1.;
    position: relative;
    top: 65px;
    z-index: 0;
    animation: photoanimation1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: all 2s;
}

@keyframes photoanimation1 {
    0% {
        transition: all ease-in 1.2s;
        opacity: 80%;
    }

    50% {
        transition: all ease-in 1.2s;
        /* scale: 1; */
        opacity: 50%;
        margin-left: 15px;
        scroll-behavior: smooth;
    }

    100% {
        opacity: 80%;
    }

}

.box1-left>h1 {
    color: #fff;
    font-size: 4.5em;
    font-weight: 700;
    margin-bottom: 75px;
    padding: 10px 15px;
    /* background-color: yellow; */
}

#hr1 {
    width: 100%;
    height: auto;
    position: relative;
    top: -10vh;
}

.box1-left-p {
    /* background-color: yellow; */
    position: relative;
    top: -9vh;
    width: 100%;
    height: auto;
    padding: 5px 12px 40px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1-left-p>p {
    font-size: 1.4em;
    color: #fff;
}

.main-button {
    /* background-color: red; */
    width: 100%;
    height: 90px;
    position: relative;
    top: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.main-button>button {
    padding: 7px 50px;
    border: 1px solid #ffffff;
    color: #fff;
    font-size: 1.1em;
    font-weight: 400;
    background-color: transparent;
    border-radius: 50px;
    transition: all 0.7s;

}

.main-button>button:hover {
    transition: all 0.7s;
    border-radius: 40px 6px 40px 6px;
}

.main-button>button:active {
    transition: all 0.7s;
    border-radius: 6px 40px 6px 40px;
}

.box1-right-top {
    color: #fff;
    position: relative;
    padding: 300px;
    /* left: -40vw; */
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100%;
}

.page2 {
    position: relative;
    width: 100vw;
    height: 95vh;
    display: flex;
    background-color: #fff;
    color: #fff;
    z-index: 2;
    padding-top: 50px;
    flex-direction: column;
    padding-bottom: 16px;
    align-items: center;
    justify-content: center;
}

.page2-text {
    /* background-color: red; */
    width: 100%;
    text-align: center;
    position: relative;
    /* top: -6.2vh; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page2-text>h1 {
    width: 95%;
    font-size: 10em;
    /* background-color: yellow; */
    color: #000;
    font-weight: 900;
    padding: 5px 0;
    position: relative;
    top: -23px;
    font-family: 'Alumni Sans Inline One', 'cursive';
    font-family: 'Roboto Condensed', sans-serif;
}

.page2-text>h1::selection {
    background-color: #000;
    color: #fff;
}

.page2-text-porhr {
    background-color: #000;
    width: 96%;
    position: relative;
    top: -40px;
    border-radius: 50px;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.page2-text-porhr>p {
    color: #fff;
    font-size: 3em;
    padding: 0 0;
    margin-left: 12px;
    width: 36vw;
    /* background-color: green; */
    border-radius: 50px;
}

.page2-text-hr {
    width: 80%;
    padding: 40px 12px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: start;
}

.page2-text-hr>hr {
    width: 95%;
}

.page2-boxes {
    width: 100%;
    height: 80%;
    background-color: transparent;
    position: relative;
    top: -38px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.page2-boxes>.box1 {
    width: 25vw;
    border: 3px solid #000;
    height: 95%;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
}

.page2-boxes>.box2 {
    width: 70vw;
    border: 3px solid #000;
    border-radius: 10px;
    height: 95%;
    background-color: transparent;
    overflow: hidden;
}

.page2-boxes>.box1>.box1-top {
    /* background-color: red; */
    width: 100%;
    height: 50%;
    color: #000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1-top>h2 {
    background-color: transparent;
    padding: 12px 5px 30px;
    font-size: 8em;
    font-weight: 600;
}

.box1-bottom {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.box1-bottom>img {
    width: auto;
    height: 100%;
    border-radius: 5px;
}

.box2-top {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    /* background-color: red; */
}

.box2-top>h2 {
    font-size: 7.3em;
    font-weight: 600;
}

.box2-bottom {
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #000;
}

.box2-bottom>img {
    width: 100%;

}

.cursor {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: #191919d3;
    filter: brightness(90%);
    border: 1px solid #979797;
    position: fixed;
    z-index: 99;
}


.cursorblr {
    height: 250px;
    width: 250px;
    border-radius: 500px;
    background-color: #dddddd9f;
    opacity: 60%;
    fill: #3F1D38;
    position: fixed;
    filter: blur(80px);
    z-index: 2;
}

#page3 {
    width: 100vw;
    height: auto;
    background-color: transparent;
    z-index: 80;
    padding: 20px 100px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.page3-main-box {
    background-color: transparent;
    width: 990px;
    height: 260px;
    border-radius: 500px;
    border: 2px solid #fff;
    position: relative;
    top: -0px;
    left: 11%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2px;
}

.box-in-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
}

#page3-img {
    width: 100%;
    border-radius: 50%;
    animation: photoanimation1;
    animation-duration: 2.2s;
    transition: all 0.5s;
    animation-iteration-count: infinite;
    /* display: none; */
}

.main-text {
    /* background-color: red; */
    width: 71.5%;
    height: 98%;
    border-radius: 500PX;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.heading-page3 {
    background-color: transparent;
    flex-direction: column;
    width: 80%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -30px;
    gap: 8px;
}

.heading-page3>h3 {
    font-size: 2.6em;
    font-weight: 600;
}

.heading-page3>.marqtext {
    font-weight: 400;
    width: 300px;
    font-size: 1.6rem;
    background-color: transparent;
    color: #dadada;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.heading-page3>h4 {
    font-weight: 400;
    width: 360px;
    text-align: center;
    font-size: 1.6rem;
    background-color: transparent;
    color: #dadada;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.pairagraph-page3 {
    background-color: transparent;
    width: 76%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    top: -20px;
    left: 5px;
}

.pairagraph-page3>p {
    font-weight: 400;
    font-size: 0.9em;
    color: #dadada;
}

.page3-stars {
    background-color: transparent;
    width: 130px;
    height: auto;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    top: -20px;
}

.page3-stars>a {
    font-size: 1.6em;
    text-decoration: none;
    color: #fff;
}

.page3-stars>a:focus {
    color: #dcd623;
}

.page3-over-view {
    width: 60%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    top: 10px;
}

.page3-over-view>a {
    text-decoration: none;
    color: #dadada;
    font-size: 1.2em;
    font-weight: 400;
}

.page3-over-view>a>i {
    font-size: 1.6em;
    text-align: center;
    position: relative;
    top: 3px;
    color: #dadada;
    margin-right: 8px;
    transition: all 1.3s;
}

.page3-over-view>a>i:active {
    color: #959595;
    transition: all 0.3s;
}

.page3-main-box2 {
    background-color: transparent;
    width: 990px;
    height: 260px;
    border-radius: 500px;
    border: 2px solid #fff;
    position: relative;
    top: -0px;
    left: -11%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2px;flex-direction: row-reverse;
}

.box-in-img>img{
    width: 100%;
    border-radius: 50%;
    animation: photoanimation2;
    animation-duration: 2.2s;
    transition: all 0.5s;
    animation-iteration-count: infinite;
    /* display: none; */
}

@keyframes photoanimation2 {
    0% {
        transition: all ease-in 1.2s;
        opacity: 80%;
    }

    50% {
        transition: all ease-in 1.2s;
        /* scale: 1; */
        opacity: 50%;
        margin-left: -15px;
        scroll-behavior: smooth;
    }

    100% {
        opacity: 80%;
    }

}

.test1{
    background-color: transparent;
    border-radius: 50%;
    border: 0.01rem solid none;
    overflow: hidden;
    width: 0px;
    height: 0px;
    position: relative;
    left: -39vw;
    top: 17vh;
}

.page4{
    width: 100vw;
    /* change in future */
    height: 100vh;
    background-color: transparent;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: 350px;
    width: 250px;
    overflow: hidden;
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}
.card>img{
    border-radius: 10px;
    width: 100%;
    height: 55%;
    object-position: center;
    object-fit: cover;
}

.card>h1{
    font-size: 25px;
    margin: 5px 0;
}

.card>h5{
    font-size: 20px;
    color: red;
    margin-bottom: 10px;
}

.card button{
    background-color: cadetblue;
    color: #fff;
    border-radius: 5px;
    padding: 9px 30px;
    border: none;
    font-size: 12px;
    margin-top: 25px;
}

#a-span1{
    transition: all 1.3s;
}

.ri-star-fill{
    transition: all 1.3s;
}

.ri-notification-fill:active{
    animation: subsicon1;
    animation-duration: .1s;
    animation-iteration-count: 1;
    transition: all 1.5s;
}

.phone1{
    display: none;
}

@keyframes subsicon1{
    0%,100%{
        position: relative;
        top: 0px;
        
    }
    50%{
        position: relative;
        top: -5px;
        font-size: 1.8em;
    }

}

@media only screen and (max-width:1080px) {
    .phone1{
        display: block;
        width: 100vw;
        height: 100vh;
        background-color: #2c2c2c;
    }
    .desktop-none{
        display: flex;
        width: 100%;
        height: 100%;
        background-color: transparent;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
    }
    
    .desktop-none>h1{
        border: 1px solid #ffffff;
        padding: 60% 10px;
        width: 90%;
        border-radius: 20px;
        color: #656565;
        animation: phone1;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        transition: all 2s;
    }

    .desktop-none>h1>#span1{
        color: rgb(117, 74, 74);
        animation: phone1;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        transition: all 2s;
    }

    .desktop-none>h1>#span2{
        color: #646464;
        animation: phone1;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        transition: all 2s;
    }

    @keyframes phone1 {
        50%{
            color: #fff;
        }
    }
    
    header{
        display: none;
    }
    #main{
        display: none;
    }
}
