*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 0px;
}

html,body{
    background-color: #dadada;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    color: #000;
    /* background-color: red; */
}

#main{
    width: 100%;
    height: auto;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7vh 0 0 0 ;
    flex-direction: column;
    z-index: 90;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 7vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    z-index: 99;
    position: fixed;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>.logo{
    background-color: none;
    width: 95px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.logo>h2{
    font-weight:600;
    font-size: 2.3vw;
    color: #000;

}

.main-links{
    /* background-color: red; */
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 70%;
    align-items: center;
    justify-content: center;
}

.main-links>ul{
    display: flex;
    flex-direction: row;
    gap: 35px;
    list-style-type: none;
}

.main-links>ul>li{
    padding: 4px 12px;
    border-radius: 5px;
    transition: all 0.8s;
    color: #000;
    font-size: 1.3em;
    cursor: pointer;
    border: 1px solid transparent;
}

.main-links>ul>li:hover{
    background-color: #fff;
    transition: all 0.8s;
    color: #000;
    border: 1px solid #000;
    border-radius: 20px 0px 20px 0px;
}

.main-links>ul>li:active{
    border-radius: 0px 20px 0px 20px;
}

.reponcive-menu{
    display: none;
}

.main-buttons{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75%;
}

.main-buttons>button{
    padding: 6px 22px;
    border: 1px solid #fff;
    transition: all 0.8s;
    border-radius: 50px;
}

.main-buttons>button:hover{
    background-color: #fff;
    transition: all 0.8s;
    border-radius: 15px 0px 15px 0px;
    border: 1px solid #000;
}

.main-buttons>button:active{
    border-radius: 0px 15px 0px 15px;
    border:1px solid #000;
}

#li-links>a{
    text-decoration: none;
    color: #000;
}

.page1{
    width: 100vw;
    height: 93vh;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.page1-box1{
    width: 90%;
    height: 90%;
    /* background-color: red; */
    display: flex;
    padding: 12px 0 0 15px;
    border-radius: 70px 0 70px 0;
    overflow: hidden;
}

.box1-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
    z-index: 4;
}

.box1-right{
    width: 50%;
    height: 100%;
    /* background-color: #9e91be; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.box1-right>img{
    width: 100%;
    opacity: 100%;
    scale: 1.2;
    position: relative;
    top: 65px;
    z-index: 3;
    animation: photoanimation1;
    animation-duration:5s;
    animation-iteration-count: infinite;
    transition: all 2px;
}

.box1-right>img:hover{
    animation: photoanimation1;
    animation-duration:4s;
    animation-iteration-count: infinite;
    transition: all 2px;
}

@keyframes photoanimation1 {
    0%{
        transition: all ease-in 1.2s;
        opacity: 80%;
    }
    50%{
        transition: all ease-in 1.2s;
        scale: 1;
        opacity: 50%;
        margin-left: 65px;
    }
    100%{
        opacity: 80%;
    }
    
}

.box1-left>h1{
    color: #fff;
    font-size: 4.5em;
    font-weight: 700;
    margin-bottom: 75px;
    padding: 10px 15px;
    /* background-color: yellow; */
}

#hr1{
    width: 100%;
    height: auto;
    position: relative;
    top: -10vh;
}

.box1-left-p{
    /* background-color: yellow; */
    position: relative;
    top: -9vh;
    width: 100%;
    height: auto;
    padding: 5px 12px 40px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1-left-p>p{
    font-size: 1.4em;
    color: #fff;
}

.main-button{
    /* background-color: red; */
    width: 100%;
    height: 90px;
    position: relative;
    top: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.main-button>button{
    padding: 7px  50px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.1em;
    font-weight: 400;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50px;
    transition: all 0.7s;
}

.main-button>button:hover{
    transition: all 0.7s;
    border-radius: 40px 6px 40px 6px;
}

.main-button>button:active{
    transition: all 0.7s;
    border-radius: 6px 40px 6px 40px;
}

.page2{
    width: 100%;
    height: 100vh;
    /* background-color: yellow; */
}

@media only screen and (max-width:1080px){
    #main{
        background-color: #3F1D38;
        width: 100%;
        height: 100%;
    }
    header{
        background-color: #4D3C77;
        width: 100%;
        height: 7vh;
        padding: 0px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav>.logo{
        width: 20%;
        height: 50%;
        background-color: none;
        padding: 0px 42px;
    }
    nav>.logo>h2{
        font-size: 1.4em;
        font-weight: 600;
        color: #A2678A;
    }
    nav>.main-links{
        background-color: #4D3C77;
        display: none;
        position: absolute;
        top: 7vh;
        width: auto;
        height: auto;
        padding: 10px 15px;
        border-radius: 5px;
        right: 1vw;
        border: 1px solid #A2678A;
        overflow: hidden;
    }
    .main-links>ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        list-style-type: none;
        color: #A2678A;
        font-size: 0.9em;
        font-weight: 400;
        transition: all 0.5s;
        width: 110%;
    }
    .main-links>ul>li{
        transition: all 0.8s;
        padding: 2px 12px;
    }
    .main-links>ul>li:hover{
        background-color: #8f5a7a;
        transition: all 0.9s;
        width: 150%;
        display: flex;
        justify-content: end;
        align-items: center;

    }
    .reponcive-menu{
        background-color: #5588d500;
        width: 60px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #A2678A;
        border-radius: 0px 0px 15px 0px;
        transition: all 0.5s;
        overflow: hidden;
    }
    .reponcive-menu:hover{
        border-radius: 0px 0px 0px 20px;
        transition: all 0.5s;
    }
    .reponcive-menu>a{
        text-decoration: none;
        font-size: 1.8em;
        width: 100%;
        height: 100%;
        color: #A2678A;
        text-align: center;
    }
    .reponcive-menu>a:hover{
        color: #7b506a;
    }
    .reponcive-menu>a:active + nav>.main-links {
        display: block;
    }
    .main-buttons{
        display: none;
    }
}
